node_modules
.nuxt
.output
dist
.env
.env.*
!.env.example
.DS_Store
*.log
coverage
.vscode
.idea
.git
.github
.gitignore
test
test-results
playwright-report
playwright.config.ts
vitest.config.ts
README.md
